Repository satanupup/devika: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run deps:organize

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,jsonc}": [
    "prettier --write"
  ],
  "*.{md,markdown}": [
    "prettier --write"
  ],
  "*.{yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss,sass,less}": [
    "prettier --write"
  ],
  "*.{html,htm}": [
    "prettier --write"
  ],
  "package.json": [
    "npm run deps:organize",
    "prettier --write"
  ]
}

modify
  ADVANCED_TASK_MANAGEMENT_IMPLEMENTATION.md
  API_REFERENCE.md
  CLEANUP_REPORT.md
  COMPREHENSIVE_PROJECT_DOCUMENTATION.md
  DEVELOPER_GUIDE.md
  DEVELOPMENT_GUIDE.md
  DOCUMENTATION_CLEANUP_SUMMARY.md
  DOCUMENTATION_SUMMARY.md
  FUTURE_ENHANCEMENT_PLAN.md
  GEMINI_API_UPDATE.md
  GEMINI_INSPIRED_FEATURES.md
  GEMINI_ISSUE_DIAGNOSIS.md
  INTELLIGENT_AI_GUIDE.md
  KILO_CODE_FEATURES_IMPLEMENTATION.md
  LLM_SWITCHING_GUIDE.md
  PROJECT_COMPLETION_REPORT.md
  PROJECT_COMPLETION_SUMMARY.md
  PROJECT_STATUS_ANALYSIS.md
  PROJECT_STATUS_UPDATE.md
  SETUP_DEPENDENCIES.md
  SMART_FEATURES_GUIDE.md
  TROUBLESHOOTING.md
  TROUBLESHOOTING_GUIDE.md
  USER_GUIDE.md
  VSCODE_API_CRAWLER_IMPLEMENTATION.md
  VSCODE_EXTENSION_DEVELOPMENT_PLAN.md
  archive/CODE_DUPLICATION_ANALYSIS.md
  archive/DEPENDENCY_OPTIMIZATION_REPORT.md
  archive/DEPENDENCY_UPDATE_PLAN.md
  archive/MULTI_PROJECT_ANALYSIS.md
  archive/OPTIMIZATION_SUMMARY.md
  archive/OPTIMIZED_EXTENSION_STARTUP.md
  archive/OPTIMIZED_PACKAGE_JSON.md
  archive/PACKAGE_JSON_UPDATE_PLAN.md
  archive/PROJECT_OPTIMIZATION_SUMMARY.md
  cleanup-docs.js
Due: eslint --fix, prettier --write

fix: 移除 Git LFS 追蹤，改為普通 Git 追蹤
  .gitattributes
Due: none

remove .js from LFS and re-add as normal file
  fix-lfs-issue.js
Due: eslint --fix, prettier --write

remove .gitattributes to stop LFS tracking
  .gitattributes
Due: none

mdofiy
  README.md
  package-lock.json
  package.json
  src/config/ConfigManager.ts
  src/core/DevikaCoreManager.ts
  src/extension.ts
  src/filesystem/FileSystemOptimizer.ts
  src/llm/ApiOptimizer.ts
  src/llm/LLMService.ts
  src/performance/PerformanceMonitor.ts
  src/performance/StartupProfiler.ts
  src/types/TypeSafetyEnforcer.ts
  src/utils/CommonPatterns.ts
  src/utils/ErrorHandler.ts
  src/utils/ErrorRecoveryManager.ts
  tsconfig.json
Due: eslint --fix, prettier --write, npm run deps:organize

modify
  package-lock.json
  package.json
  src/files/WorkspaceEditManager.ts
  src/filesystem/FileSystemOptimizer.ts
  src/integrations/IntegrationEngine.ts
  src/integrations/IntegrationManager.ts
  src/integrations/providers/ConfluenceIntegration.ts
  src/integrations/providers/GitHubIntegration.ts
  src/integrations/providers/JiraIntegration.ts
  src/learning/AdaptiveSuggestionSystem.ts
  src/learning/LearningDataManager.ts
  src/learning/LearningEngine.ts
  src/learning/index.ts
  src/memory/ConversationContextAnalyzer.ts
  src/memory/ConversationMemoryManager.ts
  src/memory/ConversationPersistenceManager.ts
  src/memory/index.ts
  src/modes/CustomModeSystem.ts
  src/multimodal/FigmaIntegration.ts
  src/multimodal/MultimodalCommands.ts
  src/multimodal/ScreenshotCapture.ts
  src/navigation/EditNavigationEngine.ts
  src/navigation/EditNavigationProvider.ts
  src/navigation/EditStepGenerator.ts
  src/performance/LargeFileProcessor.ts
  src/personalization/PersonalizationCommandProvider.ts
  src/terminal/TerminalIntegrationSystem.ts
  src/ui/TaskTreeView.ts
  tsconfig.json
Due: eslint --fix, prettier --write, npm run deps:organize

modify
  src/learning/LearningEngine.ts
  src/personalization/PersonalizationEngine.ts
  src/personalization/PersonalizationProvider.ts
  src/planning/UpdatePlanGenerator.ts
Due: eslint --fix, prettier --write

modify
  src/crawler/VSCodeAPICrawler.ts
  src/tasks/TaskManager.ts
  src/types/EnhancedTypeSystem.ts
  src/ui/TaskTreeProvider.ts
  src/ui/TaskTreeView.ts
  src/utils/FileOperationUtils.ts
  src/utils/VSCodeUtils.ts
Due: eslint --fix, prettier --write

modify
  docs/fixes/macos-metadata-files-fix.md
  src/context/CodeContextService.ts
  src/test/codeContextService.test.ts
  src/test/setup.ts
  src/test/simple-codeContextService.test.ts
Due: eslint --fix, prettier --write
